@use '../../../styles/variables' as *;

.label {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: $space-3;
  min-width: 0;
}

.input {
  cursor: pointer;
  flex-shrink: 0;
}

.labelText {
  flex: 1 1 auto;
  min-width: 0;
}
