@use '../../../styles/variables' as *;

.deleteButton {
  background-color: var(--color-error);
  border-color: var(--color-error);
  color: $color-on-primary;

  &:hover:not(:disabled) {
    background-color: var(--color-error);
    border-color: var(--color-error);
    opacity: $opacity-hover;
  }
}
