@use '../../../styles/variables' as *;

.row {
  display: flex;
  align-items: center;
  gap: $gap-button-row;
}

.rowWrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: $gap-button-row;
}

.rowJustifyEnd {
  justify-content: flex-end;
}

.rowJustifyBetween {
  justify-content: space-between;
}
