DEFAULT_LOCALE="en-US"
SUPPORTED_LOCALES="all-available"
ACCOUNT_SIGNUP_MODE="admin_only_username"
WEB_BRAND_NAME="metaboost-web"
LEGAL_NAME="the site owner"
MANAGEMENT_WEB_BRAND_NAME="metaboost-management-web"
MAILER_HOST=
MAILER_PORT=
MAILER_USERNAME=
MAILER_PASSWORD=
MAILER_FROM=
KEYVALDB_HOST="valkey"
KEYVALDB_PORT="6379"
KEYVALDB_PASSWORD=
DB_HOST="postgres"
DB_PORT="5432"
DB_APP_NAME="metaboost_app"
DB_APP_READ_USER="metaboost_app_read"
DB_APP_READ_PASSWORD=
DB_APP_READ_WRITE_USER="metaboost_app_read_write"
DB_APP_READ_WRITE_PASSWORD=
MEMBERSHIP_DEFAULT_TRIAL_MONTHS=
MEMBERSHIP_DEFAULT_PREMIUM_MONTHS=
API_PORT="4000"
API_VERSION_PATH="/v1"
API_RELEASE="X.X.X-staging.N"
API_PUBLIC_BASE_URL="http://localhost:4000"
API_SERVER_BASE_URL="http://metaboost_local_api:4000"
WEB_PORT="4002"
WEB_BASE_URL="http://localhost:4002"
API_MESSAGES_TERMS_OF_SERVICE_URL="http://localhost:4002/terms"
API_EXCHANGE_RATES_FIAT_BASE_CURRENCY="USD"
API_EXCHANGE_RATES_FIAT_PROVIDER_URL="https://api.frankfurter.app/latest?from=USD"
API_EXCHANGE_RATES_BTC_PROVIDER_URL="https://api.coingecko.com/api/v3/simple/price?ids=bitcoin&vs_currencies=usd"
API_EXCHANGE_RATES_CACHE_TTL_MS="600000"
API_EXCHANGE_RATES_MAX_STALE_MS="1800000"
API_EXCHANGE_RATES_SERVER_STANDARD_CURRENCY="USD"
RSS_PARSE_MIN_INTERVAL_MS="600000"
API_EXCHANGE_RATES_FETCH_ENABLED="true"
API_RSS_FEED_FETCH_ENABLED="true"
API_USER_AGENT="Metaboost Bot Local/API/1"
AUTH_JWT_SECRET=
API_COOKIE_DOMAIN="localhost"
API_CORS_ORIGINS="http://localhost:4002"
API_SESSION_COOKIE_NAME="api_session"
API_REFRESH_COOKIE_NAME="api_refresh"
API_JWT_ACCESS_EXPIRATION="2592000"
API_JWT_REFRESH_EXPIRATION="2592000"
STANDARD_ENDPOINT_REGISTRY_URL="https://raw.githubusercontent.com/v4v-io/metaboost-registry/main/registry/apps"
STANDARD_ENDPOINT_REGISTRY_POLL_SECONDS="300"
STANDARD_ENDPOINT_REGISTRY_TIMEOUT_MS="10000"
STANDARD_ENDPOINT_REQUIRE_HTTPS="false"
STANDARD_ENDPOINT_TRUST_PROXY="false"
