NEXT_PUBLIC_DEFAULT_LOCALE="en-US"
NEXT_PUBLIC_SUPPORTED_LOCALES="all-available"
NEXT_PUBLIC_MANAGEMENT_WEB_BRAND_NAME="metaboost-management-web"
NEXT_PUBLIC_MANAGEMENT_WEB_BRAND_DOMAIN="example.org"
API_PORT="4000"
NEXT_PUBLIC_MANAGEMENT_API_VERSION_PATH="/v1"
API_PUBLIC_BASE_URL="http://localhost:4000"
API_SERVER_BASE_URL="http://metaboost_local_api:4000"
WEB_PORT="4002"
NEXT_PUBLIC_WEB_BASE_URL="http://localhost:4002"
MANAGEMENT_API_PORT="4100"
NEXT_PUBLIC_MANAGEMENT_API_PUBLIC_BASE_URL="http://localhost:4100"
MANAGEMENT_API_SERVER_BASE_URL="http://metaboost_local_management_api:4100"
MANAGEMENT_WEB_SIDECAR_PORT="4101"
NEXT_PUBLIC_MANAGEMENT_SESSION_REFRESH_INTERVAL_MS="1800000"
