DEFAULT_LOCALE="en-US"
SUPPORTED_LOCALES="all-available"
ACCOUNT_SIGNUP_MODE="admin_only_username"
KEYVALDB_HOST="valkey"
KEYVALDB_PORT="6379"
KEYVALDB_PASSWORD=
DB_HOST="postgres"
DB_PORT="5432"
DB_APP_OWNER_USER="metaboost_app_owner"
DB_APP_OWNER_PASSWORD=
DB_APP_MIGRATOR_USER="metaboost_app_migrator"
DB_APP_MIGRATOR_PASSWORD=
DB_APP_NAME="metaboost_app"
DB_APP_READ_WRITE_USER="metaboost_app_read_write"
DB_APP_READ_WRITE_PASSWORD=
DB_APP_READ_USER="metaboost_app_read"
DB_APP_READ_PASSWORD=
DB_MANAGEMENT_NAME="metaboost_management"
DB_MANAGEMENT_OWNER_USER="metaboost_management_owner"
DB_MANAGEMENT_OWNER_PASSWORD=
DB_MANAGEMENT_MIGRATOR_USER="metaboost_management_migrator"
DB_MANAGEMENT_MIGRATOR_PASSWORD=
DB_MANAGEMENT_READ_WRITE_USER="metaboost_management_read_write"
DB_MANAGEMENT_READ_WRITE_PASSWORD=
DB_MANAGEMENT_READ_USER="metaboost_management_read"
DB_MANAGEMENT_READ_PASSWORD=
API_PORT="4000"
MANAGEMENT_API_VERSION_PATH="/v1"
MANAGEMENT_API_RELEASE="X.X.X-staging.N"
API_PUBLIC_BASE_URL="http://localhost:4000"
API_SERVER_BASE_URL="http://metaboost_local_api:4000"
WEB_PORT="4002"
WEB_BASE_URL="http://localhost:4002"
MANAGEMENT_API_PORT="4100"
MANAGEMENT_API_PUBLIC_BASE_URL="http://localhost:4100"
MANAGEMENT_API_SERVER_BASE_URL="http://metaboost_local_management_api:4100"
MANAGEMENT_WEB_PORT="4102"
MANAGEMENT_WEB_BASE_URL="http://localhost:4102"
MANAGEMENT_API_USER_AGENT="Metaboost Bot Local/Management-API/1"
AUTH_JWT_SECRET=
MANAGEMENT_API_COOKIE_DOMAIN="localhost"
MANAGEMENT_API_CORS_ORIGINS="http://localhost:4102"
MANAGEMENT_API_SESSION_COOKIE_NAME="management_api_session"
MANAGEMENT_API_REFRESH_COOKIE_NAME="management_api_refresh"
MANAGEMENT_API_JWT_ACCESS_EXPIRATION="3600"
MANAGEMENT_API_JWT_REFRESH_EXPIRATION="3600"
MANAGEMENT_API_USER_INVITATION_EXPIRATION="86400"
STANDARD_ENDPOINT_REGISTRY_URL="https://raw.githubusercontent.com/v4v-io/metaboost-registry/main/registry/apps"
STANDARD_ENDPOINT_REQUIRE_HTTPS="false"
STANDARD_ENDPOINT_TRUST_PROXY="false"
MANAGEMENT_API_AUTH_RATE_LIMIT_USE_KEYVALDB="false"
API_EXCHANGE_RATES_FETCH_ENABLED="true"
